
$FreeBSD: ports/devel/phpsh/files/patch-src_doc_phpsh.1.html,v 1.1 2011/08/23 17:44:59 ashish Exp $

--- src/doc/phpsh.1.html.orig
+++ src/doc/phpsh.1.html
@@ -58,7 +58,7 @@
 </b></dt>
 <dd>
 <p>
-        Use "-c none" to load no codebase. See /etc/phpsh/phpshrc.php for
+        Use "-c none" to load no codebase. See %%PREFIX%%/etc/phpsh/phpshrc.php for
         other codebase modes.
 </p>
 </dd>
@@ -404,11 +404,11 @@
 without X Windows by starting emacs with geben manually in another terminal.</p>
 <h2><a name="_configuration"></a>CONFIGURATION</h2>
 <p>Config file support was added in phpsh-1.2. When phpsh starts up it
-tries to read its configuration from /etc/phpsh/config, then from
+tries to read its configuration from %%PREFIX%%/etc/phpsh/config, then from
 $HOME/.phpsh/config. If either file is not present or not readable, it
 is ignored. Entries in the per-user config file $HOME/.phpsh/config
 override the corresponding entries in the host-wide config file
-/etc/phpsh/config.</p>
+%%PREFIX%%/etc/phpsh/config.</p>
 <p>The config file consists of sections containing key:value pairs.
 Lines starting with # are ignored. All settings are optional and have
 reasonable default values. Section names are in brackets. A section
